* {
    font-family: 'Raleway', sans-serif;
}

header {
    width: 100%;
}

.foto-central img {
    width: 12%;
    border-radius: 1rem;
    display: block;
    margin: 3rem auto;
}

main {
    width: 50%;
    display: block;
    margin: 0 auto;
    text-align: center;
}

main p {
    font-size: 1.1rem;
    font-weight: 400;
}

@media (max-width: 600px) {
    .foto-central img {
        width: 30%;
    }
}

@media (max-width: 1024px) {
    .foto-central img {
        width: 25%;
    }

    main {
        width: 65%;
    }

    main p {
        font-size: 2em;
    }
}

@media (max-width: 360px) {
    .foto-central img {
        width: 30%;
    }

    main {
        width: 80%;
    }

    main p {
        font-size: 1em;
    }
}

@media (max-width: 450px) {
    .foto-central img {
        width: 30%;
    }

    main {
        width: 80%;
    }

    main p {
        font-size: 1em;
    }
}